In [1]:
import nltk
from nltk.tokenize import TweetTokenizer
from nltk.tokenize import word_tokenize
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [31]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [20]:
from textblob import TextBlob

In [86]:
data = pd.read_csv('TGB_newsData.csv')

In [87]:
data.head(8)

,Unnamed: 0,Time,Date,SourceOfNews,Headlines,News
0,0,3.00 pm,16 Jan 2020,Source: Moneycontrol.com,Buy Tata Global Beverages; target of Rs 450: I...,Tata Global Beverages (TGBL) received National...
1,1,4.13 pm,14 Jan 2020,Source: Moneycontrol.com,3-Point Analysis | Should you buy Tata Global ...,Following the National Company Law Tribunal's ...
2,2,5.19 pm,13 Jan 2020,Source: Moneycontrol.com,Tata Global Beverages: Premium is on business ...,"Tata Global Beverages (TGBL) (CMP: Rs 352, mar..."
3,3,11.36 am,13 Jan 2020,Source: Moneycontrol.com,Tata Global Beverage hits record high on NCLT ...,The consumer products business will be transfe...
4,4,7.25 pm,20 Dec 2019,Source: PTI,Tata Global Beverages appoints Sunil D'Souza a...,"Besides, Ajit Krishna Kumar has been appointed..."
5,5,8.37 am,01 Nov 2019,Source: Moneycontrol.com,Tata Global Beverages Q2: Strong show led by v...,NaN
6,6,3.22 pm,31 Oct 2019,Source: Moneycontrol.com,Tata Global Bev Consolidated September 2019 Ne...,"Net Sales at Rs 1,834.06 crore in September 20..."
7,7,8.08 pm,30 Oct 2019,Source: PTI,TGBL Q2 net down 17.12% at Rs 152.47 cr,The consolidated revenue from operations durin...

In [88]:
df = pd.DataFrame(columns=['HeadlinesBag', 'NewsBag'])
df

Empty DataFrame
Columns: [HeadlinesBag, NewsBag]
Index: []

In [89]:
data['News'] = data['News'].fillna(data['Headlines'])
data.head(8)

,Unnamed: 0,Time,Date,SourceOfNews,Headlines,News
0,0,3.00 pm,16 Jan 2020,Source: Moneycontrol.com,Buy Tata Global Beverages; target of Rs 450: I...,Tata Global Beverages (TGBL) received National...
1,1,4.13 pm,14 Jan 2020,Source: Moneycontrol.com,3-Point Analysis | Should you buy Tata Global ...,Following the National Company Law Tribunal's ...
2,2,5.19 pm,13 Jan 2020,Source: Moneycontrol.com,Tata Global Beverages: Premium is on business ...,"Tata Global Beverages (TGBL) (CMP: Rs 352, mar..."
3,3,11.36 am,13 Jan 2020,Source: Moneycontrol.com,Tata Global Beverage hits record high on NCLT ...,The consumer products business will be transfe...
4,4,7.25 pm,20 Dec 2019,Source: PTI,Tata Global Beverages appoints Sunil D'Souza a...,"Besides, Ajit Krishna Kumar has been appointed..."
5,5,8.37 am,01 Nov 2019,Source: Moneycontrol.com,Tata Global Beverages Q2: Strong show led by v...,Tata Global Beverages Q2: Strong show led by v...
6,6,3.22 pm,31 Oct 2019,Source: Moneycontrol.com,Tata Global Bev Consolidated September 2019 Ne...,"Net Sales at Rs 1,834.06 crore in September 20..."
7,7,8.08 pm,30 Oct 2019,Source: PTI,TGBL Q2 net down 17.12% at Rs 152.47 cr,The consolidated revenue from operations durin...

In [90]:
# data['Headlines'] = data['Headlines'].str.lower()
# data['News'] = data['News'].str.lower()

In [91]:
df['HeadlinesBag'] = data['Headlines'].apply(lambda k : word_tokenize(k))
df['NewsBag'] = data['News'].apply(lambda k : word_tokenize(k))
df

,HeadlinesBag,NewsBag
0,"[Buy, Tata, Global, Beverages, ;, target, of, ...","[Tata, Global, Beverages, (, TGBL, ), received..."
1,"[3-Point, Analysis, |, Should, you, buy, Tata,...","[Following, the, National, Company, Law, Tribu..."
2,"[Tata, Global, Beverages, :, Premium, is, on, ...","[Tata, Global, Beverages, (, TGBL, ), (, CMP, ..."
3,"[Tata, Global, Beverage, hits, record, high, o...","[The, consumer, products, business, will, be, ..."
4,"[Tata, Global, Beverages, appoints, Sunil, D'S...","[Besides, ,, Ajit, Krishna, Kumar, has, been, ..."
5,"[Tata, Global, Beverages, Q2, :, Strong, show,...","[Tata, Global, Beverages, Q2, :, Strong, show,..."
6,"[Tata, Global, Bev, Consolidated, September, 2...","[Net, Sales, at, Rs, 1,834.06, crore, in, Sept..."
7,"[TGBL, Q2, net, down, 17.12, %, at, Rs, 152.47...","[The, consolidated, revenue, from, operations,..."
8,"[Tata, Global, Beverages, Q2, PAT, may, dip, 3...","[Net, Sales, are, expected, to, increase, by, ..."
9,"[Buy, Tata, Global, Beverages, ;, target, of, ...","[Consolidated, sales, increased, 5.2, %, YoY, ..."
10,"[Tata, Global, Bev, Consolidated, June, 2019, ...","[Net, Sales, at, Rs, 1,897.13, crore, in, June..."
11,"[Tata, Global, Bev, Standalone, June, 2019, Ne...","[Net, Sales, at, Rs, 968.82, crore, in, June, ..."
12,"[Tata, Starbucks, pushes, for, gender, parity,...","[At, present, ,, women, make, up, for, 29, per..."
13,"[Tata, Global, jumps, 6, %, on, robust, Q2, nu...","[The, stock, rallied, nearly, 46, percent, in,..."
14,"['Too, early, to, say, we, are, on, a, fresh, ...","[Edited, excerpts, :, ., Q, :, Global, ,, as, ..."
15,"[Top, buy, and, sell, ideas, by, Ashwani, Gujr...","[Selling, across, sectors, ,, except, Auto, ,,..."
16,"[TGBL, expects, merger, of, Tata, Chemical, 's...","[In, May, ,, Tata, Group, had, said, it, would..."

In [92]:
def get_textBlob_score(sent):
    polarity = TextBlob(sent).sentiment.polarity
    return polarity

In [93]:
data['Headlines_Score_tb'] = [get_textBlob_score(i) for i in data['Headlines']]
data['Headlines_Score_tb']

0     0.050000
1     0.000000
2     0.350000
3     0.080000
4     0.000000
5     0.144444
6     0.000000
7    -0.077778
8     0.000000
9     0.050000
10    0.000000
11    0.000000
12    0.000000
13    0.000000
14    0.200000
15    0.250000
16    0.000000
Name: Headlines_Score_tb, dtype: float64

In [94]:
data['News_Score_tb'] = [get_textBlob_score(i) for i in data['News']]
data['News_Score_tb']

0     0.075766
1     0.182727
2     0.098591
3     0.091667
4     0.172917
5     0.144444
6    -0.072840
7     0.060556
8     0.031481
9     0.115417
10   -0.014286
11   -0.081111
12   -0.005556
13    0.078782
14   -0.001791
15    0.089630
16    0.044841
Name: News_Score_tb, dtype: float64

In [95]:
sid = SentimentIntensityAnalyzer()
def get_vader_score(sent):
    ss = sid.polarity_scores(sent)
    #for k in sorted(ss):
        #print('{0}: {1}, '.format(k, ss[k]), end='')
        #print()
    return ss['compound']

In [96]:
data['Headlines_vader'] = [get_vader_score(i) for i in data['Headlines']]
data['News_vader'] = [get_vader_score(i) for i in data['News']]

In [97]:
data

,Unnamed: 0,Time,Date,SourceOfNews,Headlines,News,Headlines_Score_tb,News_Score_tb,Headlines_vader,News_vader
0,0,3.00 pm,16 Jan 2020,Source: Moneycontrol.com,Buy Tata Global Beverages; target of Rs 450: I...,Tata Global Beverages (TGBL) received National...,0.050000,0.075766,0.0000,0.9726
1,1,4.13 pm,14 Jan 2020,Source: Moneycontrol.com,3-Point Analysis | Should you buy Tata Global ...,Following the National Company Law Tribunal's ...,0.000000,0.182727,0.0000,0.8555
2,2,5.19 pm,13 Jan 2020,Source: Moneycontrol.com,Tata Global Beverages: Premium is on business ...,"Tata Global Beverages (TGBL) (CMP: Rs 352, mar...",0.350000,0.098591,0.3182,0.9894
3,3,11.36 am,13 Jan 2020,Source: Moneycontrol.com,Tata Global Beverage hits record high on NCLT ...,The consumer products business will be transfe...,0.080000,0.091667,0.0000,0.9661
4,4,7.25 pm,20 Dec 2019,Source: PTI,Tata Global Beverages appoints Sunil D'Souza a...,"Besides, Ajit Krishna Kumar has been appointed...",0.000000,0.172917,0.0000,0.8883
5,5,8.37 am,01 Nov 2019,Source: Moneycontrol.com,Tata Global Beverages Q2: Strong show led by v...,Tata Global Beverages Q2: Strong show led by v...,0.144444,0.144444,0.8519,0.8519
6,6,3.22 pm,31 Oct 2019,Source: Moneycontrol.com,Tata Global Bev Consolidated September 2019 Ne...,"Net Sales at Rs 1,834.06 crore in September 20...",0.000000,-0.072840,0.0000,0.6249
7,7,8.08 pm,30 Oct 2019,Source: PTI,TGBL Q2 net down 17.12% at Rs 152.47 cr,The consolidated revenue from operations durin...,-0.077778,0.060556,0.0000,0.9875
8,8,12.41 pm,11 Oct 2019,Source: Moneycontrol.com,Tata Global Beverages Q2 PAT may dip 3.4% YoY ...,Net Sales are expected to increase by 6 percen...,0.000000,0.031481,0.0000,0.6486
9,9,11.01 am,02 Aug 2019,Source: Moneycontrol.com,Buy Tata Global Beverages; target of Rs 300: I...,"Consolidated sales increased 5.2% YoY to Rs 1,...",0.050000,0.115417,0.0000,0.9360
10,10,5.25 pm,31 Jul 2019,Source: Moneycontrol.com,Tata Global Bev Consolidated June 2019 Net Sal...,"Net Sales at Rs 1,897.13 crore in June 2019 up...",0.000000,-0.014286,0.0000,0.7351
11,11,5.25 pm,31 Jul 2019,Source: Moneycontrol.com,Tata Global Bev Standalone June 2019 Net Sales...,Net Sales at Rs 968.82 crore in June 2019 up 6...,0.000000,-0.081111,0.0000,0.6249
12,12,4.33 pm,11 Nov 2019,Source: Moneycontrol.com,"Tata Starbucks pushes for gender parity, targe...","At present, women make up for 29 percent of wo...",0.000000,-0.005556,0.0000,0.9371
13,13,11.19 am,31 Oct 2019,Source: Moneycontrol.com,"Tata Global jumps 6% on robust Q2 numbers, all...",The stock rallied nearly 46 percent in last si...,0.000000,0.078782,0.3400,0.9963
14,14,9.12 am,21 Oct 2019,Source: Moneycontrol.com,"'Too early to say we are on a fresh bull run, ...","Edited excerpts:. Q: Global, as well as, domes...",0.200000,-0.001791,0.6858,0.9875
15,15,8.29 am,02 Aug 2019,Source: Moneycontrol.com,"Top buy and sell ideas by Ashwani Gujral, Mite...","Selling across sectors, except Auto, dented se...",0.250000,0.089630,0.2023,-0.9719
16,16,10.28 pm,31 Jul 2019,Source: PTI,TGBL expects merger of Tata Chemical's consume...,"In May, Tata Group had said it would merge the...",0.000000,0.044841,0.0000,0.9963

In [103]:
def get_Vsentiment(x):
    if x >= 0.05:
        return int(1)
    elif x > -0.05 and x < 0.05:
        return int(0)
    else :
        return int(-1)

In [110]:
# Polarity scores of vader
# 1 if i >= 0.05
# 0 if i > -0.05 and i < 0.05
# -1 if i <= -0.05
data['Head_vader_senti'] = data['Headlines_vader'].apply(lambda x: get_Vsentiment(x))
data[['Headlines_vader', 'Head_vader_senti']]

    Headlines_vader  Head_vader_senti
0            0.0000                 0
1            0.0000                 0
2            0.3182                 1
3            0.0000                 0
4            0.0000                 0
5            0.8519                 1
6            0.0000                 0
7            0.0000                 0
8            0.0000                 0
9            0.0000                 0
10           0.0000                 0
11           0.0000                 0
12           0.0000                 0
13           0.3400                 1
14           0.6858                 1
15           0.2023                 1
16           0.0000                 0

In [109]:
data['News_vader_senti'] = data['News_vader'].apply(lambda x: get_Vsentiment(x))
data[['News_vader', 'News_vader_senti']]

    News_vader  News_vader_senti
0       0.9726                 1
1       0.8555                 1
2       0.9894                 1
3       0.9661                 1
4       0.8883                 1
5       0.8519                 1
6       0.6249                 1
7       0.9875                 1
8       0.6486                 1
9       0.9360                 1
10      0.7351                 1
11      0.6249                 1
12      0.9371                 1
13      0.9963                 1
14      0.9875                 1
15     -0.9719                -1
16      0.9963                 1

In [112]:
# Decoding textblob sentiment analysis:
def getTextBS(x):
    if x > 0 :
        return int(1)
    elif x == 0 :
        return int(0)
    else:
        return(-1)

In [113]:
data['Headlines_textB_s'] = data['Headlines_Score_tb'].apply(lambda x: getTextBS(x))
data['News_textB_s'] = data['News_Score_tb'].apply(lambda x: getTextBS(x))

In [115]:
data

,Unnamed: 0,Time,Date,SourceOfNews,Headlines,News,Headlines_Score_tb,News_Score_tb,Headlines_vader,News_vader,Head_vader_senti,News_vader_senti,Headlines_textB_s,News_textB_s
0,0,3.00 pm,16 Jan 2020,Source: Moneycontrol.com,Buy Tata Global Beverages; target of Rs 450: I...,Tata Global Beverages (TGBL) received National...,0.050000,0.075766,0.0000,0.9726,0,1,1,1
1,1,4.13 pm,14 Jan 2020,Source: Moneycontrol.com,3-Point Analysis | Should you buy Tata Global ...,Following the National Company Law Tribunal's ...,0.000000,0.182727,0.0000,0.8555,0,1,0,1
2,2,5.19 pm,13 Jan 2020,Source: Moneycontrol.com,Tata Global Beverages: Premium is on business ...,"Tata Global Beverages (TGBL) (CMP: Rs 352, mar...",0.350000,0.098591,0.3182,0.9894,1,1,1,1
3,3,11.36 am,13 Jan 2020,Source: Moneycontrol.com,Tata Global Beverage hits record high on NCLT ...,The consumer products business will be transfe...,0.080000,0.091667,0.0000,0.9661,0,1,1,1
4,4,7.25 pm,20 Dec 2019,Source: PTI,Tata Global Beverages appoints Sunil D'Souza a...,"Besides, Ajit Krishna Kumar has been appointed...",0.000000,0.172917,0.0000,0.8883,0,1,0,1
5,5,8.37 am,01 Nov 2019,Source: Moneycontrol.com,Tata Global Beverages Q2: Strong show led by v...,Tata Global Beverages Q2: Strong show led by v...,0.144444,0.144444,0.8519,0.8519,1,1,1,1
6,6,3.22 pm,31 Oct 2019,Source: Moneycontrol.com,Tata Global Bev Consolidated September 2019 Ne...,"Net Sales at Rs 1,834.06 crore in September 20...",0.000000,-0.072840,0.0000,0.6249,0,1,0,-1
7,7,8.08 pm,30 Oct 2019,Source: PTI,TGBL Q2 net down 17.12% at Rs 152.47 cr,The consolidated revenue from operations durin...,-0.077778,0.060556,0.0000,0.9875,0,1,-1,1
8,8,12.41 pm,11 Oct 2019,Source: Moneycontrol.com,Tata Global Beverages Q2 PAT may dip 3.4% YoY ...,Net Sales are expected to increase by 6 percen...,0.000000,0.031481,0.0000,0.6486,0,1,0,1
9,9,11.01 am,02 Aug 2019,Source: Moneycontrol.com,Buy Tata Global Beverages; target of Rs 300: I...,"Consolidated sales increased 5.2% YoY to Rs 1,...",0.050000,0.115417,0.0000,0.9360,0,1,1,1
10,10,5.25 pm,31 Jul 2019,Source: Moneycontrol.com,Tata Global Bev Consolidated June 2019 Net Sal...,"Net Sales at Rs 1,897.13 crore in June 2019 up...",0.000000,-0.014286,0.0000,0.7351,0,1,0,-1
11,11,5.25 pm,31 Jul 2019,Source: Moneycontrol.com,Tata Global Bev Standalone June 2019 Net Sales...,Net Sales at Rs 968.82 crore in June 2019 up 6...,0.000000,-0.081111,0.0000,0.6249,0,1,0,-1
12,12,4.33 pm,11 Nov 2019,Source: Moneycontrol.com,"Tata Starbucks pushes for gender parity, targe...","At present, women make up for 29 percent of wo...",0.000000,-0.005556,0.0000,0.9371,0,1,0,-1
13,13,11.19 am,31 Oct 2019,Source: Moneycontrol.com,"Tata Global jumps 6% on robust Q2 numbers, all...",The stock rallied nearly 46 percent in last si...,0.000000,0.078782,0.3400,0.9963,1,1,0,1
14,14,9.12 am,21 Oct 2019,Source: Moneycontrol.com,"'Too early to say we are on a fresh bull run, ...","Edited excerpts:. Q: Global, as well as, domes...",0.200000,-0.001791,0.6858,0.9875,1,1,1,-1
15,15,8.29 am,02 Aug 2019,Source: Moneycontrol.com,"Top buy and sell ideas by Ashwani Gujral, Mite...","Selling across sectors, except Auto, dented se...",0.250000,0.089630,0.2023,-0.9719,1,-1,1,1
16,16,10.28 pm,31 Jul 2019,Source: PTI,TGBL expects merger of Tata Chemical's consume...,"In May, Tata Group had said it would merge the...",0.000000,0.044841,0.0000,0.9963,0,1,0,1

In [116]:
df = pd.DataFrame(data[['Head_vader_senti', 'News_vader_senti', 'Headlines_textB_s', 'News_textB_s']])

In [117]:
df

    Head_vader_senti  News_vader_senti  Headlines_textB_s  News_textB_s
0                  0                 1                  1             1
1                  0                 1                  0             1
2                  1                 1                  1             1
3                  0                 1                  1             1
4                  0                 1                  0             1
5                  1                 1                  1             1
6                  0                 1                  0            -1
7                  0                 1                 -1             1
8                  0                 1                  0             1
9                  0                 1                  1             1
10                 0                 1                  0            -1
11                 0                 1                  0            -1
12                 0                 1                  0            -1
13                 1                 1                  0             1
14                 1                 1                  1            -1
15                 1                -1                  1             1
16                 0                 1                  0             1

In [120]:
df['Head_vader_senti'].sum() / len(df)

0.29411764705882354

In [121]:
df['News_vader_senti'].sum() / len(df)

0.8823529411764706

In [122]:
df['Headlines_textB_s'].sum() / len(df)

0.35294117647058826

In [123]:
df['News_textB_s'].sum() / len(df)

0.4117647058823529

Current stock price of TGB - 384 <br>
6 months ago the stock price was - 245