This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'VkQoDzZsdh9nLb1yvybt'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import requests;
import pandas as pd;
import numpy as np;
import json;

In [3]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
url = "https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?&start_date=2017-01-01&end_date=2017-01-01&api_key=" + API_KEY

In [4]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
r = requests.get(url)
r_json = r.json()
r_json

{'dataset': {'id': 10095370,
  'dataset_code': 'AFX_X',
  'database_code': 'FSE',
  'name': 'Carl Zeiss Meditec (AFX_X)',
  'description': 'Stock Prices for Carl Zeiss Meditec (2019-09-20) from the Frankfurt Stock Exchange.<br><br>Trading System: Xetra<br><br>ISIN: DE0005313704',
  'refreshed_at': '2019-10-04T22:26:26.506Z',
  'newest_available_date': '2019-10-04',
  'oldest_available_date': '2000-06-07',
  'column_names': ['Date',
   'Open',
   'High',
   'Low',
   'Close',
   'Change',
   'Traded Volume',
   'Turnover',
   'Last Price of the Day',
   'Daily Traded Units',
   'Daily Turnover'],
  'frequency': 'daily',
  'type': 'Time Series',
  'premium': False,
  'limit': None,
  'transform': None,
  'column_index': None,
  'start_date': '2017-01-01',
  'end_date': '2017-01-01',
  'data': [],
  'collapse': None,
  'order': None,
  'database_id': 6129}}

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

In [5]:
url = "https://www.quandl.com/api/v3/datasets/FSE/AFX_X.json?&start_date=2017-01-01&end_date=2017-12-31&api_key=" + API_KEY

r = requests.get(url)
r_json = r.json()
print(type(r_json))
print(r_json['dataset']['column_names'])
df = r_json['dataset']['data']
print(type(df))

<class 'dict'>
['Date', 'Open', 'High', 'Low', 'Close', 'Change', 'Traded Volume', 'Turnover', 'Last Price of the Day', 'Daily Traded Units', 'Daily Turnover']
<class 'list'>

In [6]:
# Converting into dataFrame for method 2 :
df_f = pd.DataFrame.from_records(r_json['dataset']['data'])
df_f.columns = [
    'Date',
    'Open',
    'High',
    'Low',
    'Close',
    'Change',
    'Traded Volume',
    'Turnover',
    'Last Price of the Day',
    'Daily Traded Units',
    'Daily Turnover']
df_f.head()

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2017-12-29,51.76,51.94,51.45,51.76,NaN,34640.0,1792304.0,None,None,None
1,2017-12-28,51.65,51.82,51.43,51.60,NaN,40660.0,2099024.0,None,None,None
2,2017-12-27,51.45,51.89,50.76,51.82,NaN,57452.0,2957018.0,None,None,None
3,2017-12-22,51.05,51.50,50.92,51.32,NaN,71165.0,3641949.0,None,None,None
4,2017-12-21,51.16,51.52,50.90,51.40,NaN,120649.0,6179433.0,None,None,None

<b>1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).</b>

In [7]:
# Please find the collected data - 
print('The type of data extracted from quandl using requests package ' + str(type(r)))

The type of data extracted from quandl using requests package <class 'requests.models.Response'>

<b>2. Convert the returned JSON object into a Python dictionary.</b>

In [8]:
print('The type of data extracted from quandl using requests package ' + str(type(r_json)))

The type of data extracted from quandl using requests package <class 'dict'>

<b>3. Calculate what the highest and lowest opening prices were for the stock in this period.</b>

In [9]:
openings = [row[1] for row in df if row[1] != None]
print("\n The highest opening recorded for the year 2017 of the mentioned stock --> " + str(max(openings)))
print("The lowest opening recorded for the year 2017 of the mentioned stock --> " + str(min(openings)) + '\n')

 The highest opening recorded for the year 2017 of the mentioned stock --> 53.11
The lowest opening recorded for the year 2017 of the mentioned stock --> 34.0

In [10]:
df_f['Open'].max()

53.11

In [11]:
df_f['Open'].min()

34.0

<b>4. What was the largest change in any one day (based on High and Low price)?</b>

In [12]:
highs = [row[2] for row in df if row[2] != 0]
lows = [row[3] for row in df if row[3] != 0]
changeL = [abs(highs[i] - lows[i]) for i in range(0, len(highs))]
print('\nThe largest change in any one day (based on high and low price) --> ' + str(max(changeL)) + '\n')

The largest change in any one day (based on high and low price) --> 2.8100000000000023

In [13]:
df_f['Highs - Lows'] = df_f['High'] - df_f['Low']
df_f['Highs - Lows'].max()

2.8100000000000023

In [14]:
df_f['Highs - Lows'].min()

0.18999999999999773

<b>5. What was the largest change between any two days (based on Closing Price)?</b>

In [16]:
closer = [row[4] for row in df if row[4]!=None]
closing_diff = [abs(closer[i] - closer[i-1]) for i in range(0, len(closer)) if i != 0]

print('Largest change between any two days (based on closing price) --> ' + str(max(closing_diff)) + '\n')

Largest change between any two days (based on closing price) --> 2.559999999999995

In [17]:
closingDF = pd.DataFrame()
closingDF['close'] = df_f['Close'];
closingDF['close - 1'] = df_f['Close'][1:]
closingDF['close - 1'] = closingDF['close - 1'].shift(-1)

In [18]:
closingDF['Diff'] = closingDF['close'] - closingDF['close - 1']
closingDF.head()

   close  close - 1  Diff
0  51.76      51.60  0.16
1  51.60      51.82 -0.22
2  51.82      51.32  0.50
3  51.32      51.40 -0.08
4  51.40      51.27  0.13

In [19]:
closingDF['Diff'].abs().max()

2.559999999999995

<b>6. What was the average daily trading volume during this year?</b>

In [20]:
tradingVol = [row[6] for row in df if row[6]!=None]
print('The average daily training volume of 2017 for the mentioned stock --> ' + str(sum(tradingVol) / len(tradingVol)) + '\n')

The average daily training volume of 2017 for the mentioned stock --> 89124.33725490196

In [21]:
df_f['Traded Volume'].mean()

89124.33725490196

<b>7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)</b>

In [22]:
print("Median of trading volume during year 2017 for the mentioned stock --> " + str(np.median(tradingVol)))

Median of trading volume during year 2017 for the mentioned stock --> 76286.0

In [23]:
df_f['Traded Volume'].median()

76286.0